.main-p-m-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 80px 0 80px;
    margin-top: 0px;
    background:linear-gradient(#EFF5FF, #EAF1FF);
}

.p-m-title {
    grid-column: span 2;
    height: 35px;
    margin-top: 110px;
}

.p-m-title h3 {
    font-size: 14px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 700;
    line-height: 35px;
    margin-top: 4px;
    color: #7F828D;
}

.p-m-grid-section-1 {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
}

.p-m-item1-section{
    width: 300px;
    height: auto;
}

.p-m-item1-section p{
    font-size: 32px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 700;
    line-height: 43px;
    color: #202330;
    margin-top: 7px;
}

.p-m-item2-section{
    width: 750px;
    height: auto;
}

.p-m-item2-section p{
    font-size: 15px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 500;
    line-height: 28px;
    color: #606370;
    margin-left: 95px;
}

/* .p-m-imagecontainer {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: -20px;
    border: 1px solid #202330;
} */
