.main_p_m_content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 80px 0 80px;
    margin-top: 0px;
    background:linear-gradient(#EFF5FF, #EAF1FF);
}

.p_m_title {
    grid-column: span 2;
    height: 35px;
    margin-top: 110px;
}

.p_m_title h3 {
    font-size: 14px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 700;
    line-height: 35px;
    margin-top: 4px;
    color: #7F828D;
}

.p_m-grid_section_1 {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
}

.p_m_item1_section{
    width: 300px;
    height: auto;
}

.p_m_item1_section p{
    font-size: 32px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 700;
    line-height: 43px;
    color: #202330;
    margin-top: 7px;
}

.p_m_item2_section{
    width: 750px;
    height: auto;
}

.p_m_item2_section p{
    font-size: 15px;
    font-family: 'Gilroy', sans-serif; 
    font-weight: 500;
    line-height: 28px;
    color: #606370;
    margin-left: 95px;
}

