  .contentLayout {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    .section {
      padding: 10px;
      // display: flex;
      // justify-content: center;
    }
  
    .section.about {
      background-color: #f2faf8;
    }
  
    .section.service {
      background-color: #fff;
    }
  }
  
