body {
  overflow: hidden;
}

.about {
  background-color: #f2faf8;
}

.service {
  background-color: #fff;
}

.ant-layout-header {
  background-color: #fff;
  height: 10vh;
}

.ant-layout-content {
  position: relative;
  /* background-color: #fff; */
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("../../Assests/background-img.svg");
}

/* .background-img {
  background-color: #fff;
  z-index: 0;
  position: absolute;
  margin-top: 190px; */
  /* height: 1390px; */
/* } */

/* .background-img img { */
  /* width: 100%; */
  /* object-fit: cover; */
  /* height: 100%;s */
/* } */

/* @media screen and (max-width: 800px) {
  .ant-layout-content {
    background-size: 100% auto;
    width: 837px;
  }
} */

/* .ant-layout-footer {
  background-color: #fff;
  height: 7vh; */
  /* position: relative;  */
/* } */

.ant-layout-footer p {
  color: #b1b6be;
  margin: -15px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: Gilroy;
}

section {
    padding: 10px;
}
